{#
/**
 * @file membership_cycle.html.twig
 * Default theme implementation to present Membership cycle data.
 *
 * This template is used when viewing Membership cycle pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_membership_cycle()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('membership_cycle') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
